/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import "compass";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 125%;
  line-height: 1.5;
  font-weight: 400;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 300%; 
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-weight: 900;
  font-style: italic;
  color: #222;
}


a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

.nav__list {
  list-style: none;
  float: right;
  text-align: right;
}

.nav__item {
  display: inline-block;
}

.section--home-nav {
  background-color: #172127;
  color: #d0d5dd;
}

.section--home {
  padding-top: 4em;
  padding-bottom: 4em;
}

.section__title {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  background-color: #172127;
  color: white;
  font-size: 33%;


  h1{
    color: white;

    font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;;
  }
}

.container {
  @include box-shadow(0px 3px 10px rgba(#172127, .5));

  width: 90%;
  margin: 0 auto;
  background-color: white;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@import "syntax";
