.section--footer + .container {
	display: none;
}

body {
	font-size: 125%;
	font-family: $sb-sans;
	color: rgb(120, 120, 120);

}

p {
	line-height: 1.5;
}

.container {
	@extend %sb-grid-container;
}

%heading {
	font-family: $sb-serif;
	color: rgb(60, 60, 60);
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	@extend %heading;
}


.section--home-nav {
	//background-color: rgb(240, 240, 240);
	color: #b7bcc5;
	font-size: 0;

	.container {
		border-bottom: 1px solid $color-x-light;
	}
}

.nav__about-me {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	font-size: 1.25rem;
}

.about-me__title {
	width: 40%;
	height: 5rem;
	margin: 2.5%;
}

.svg-logo {
	width: 10em;
	height: 5em;
}

.svg-logo path {
	fill: $color-x-light;
}

.about-me__text {
	// line-height: 1.2;
	//margin-top: 1.5rem;
	display: none;
}

.nav__list {
	list-style: none;
	text-align: right;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	text-align: right;
	width: 50%;
	font-size: 1.25rem;
}

.nav__item {
	display: inline-block;
	font-size: 0;
	border-right: 1px dotted $color-x-light;
	margin-bottom: 0;

	&:last-child {
		border-right: 0;
	}
}

.nav__link {
	font-size: 1.25rem;
	padding: .5em;
	margin: 0 .5em;
	color: $color-link;
}

.section--home {
	padding-top: 4em;
}

.section__title {
	margin: 0 auto;
	width: 30%;
	text-align: center;
	background-color: $color-x-light;
	color: white;
	font-size: 33%;
	padding: 1em;
	margin-bottom: 4rem;


	h1 {
		color: white;
		line-height: 1;
		font-family: 'Source Sans Pro';
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

.container--articles {
	border-bottom: 1px solid $color-x-light;
}

.article {
	@include pie-clearfix;
}

%articles--homepage {
	@include pie-clearfix;
	border-bottom: 1px dashed $color-x-light;
	margin-bottom: 3rem;

}

.articles--secondary, .articles--tertiary {
	@extend %articles--homepage;


	.read-more {
		margin-bottom: 0;
	}

}

.article--main {
	font-size: 75%;


	@include respond-to('sb-m') {
		font-size: 85%;
	}

	@include respond-to('sb-l') {
		font-size: 100%;
	}

	@extend %articles--homepage;

	.article__title {
		color: rgb(70, 70, 70);
	}

	.article__excerpt, .read-more {
		@extend %sb-lead;
	}
}

.article--secondary {
	width: 50%;
	float: left;
	margin-bottom: 3rem;
	padding-right: 2em;
	border-right: 1px dashed $color-x-light;

	& + .article--secondary {
		border-right: 0;
		padding-right: 0;
		padding-left: 2em;
	}
}

.article--tertiary {
	width: 33.333%;
	float: left;
	margin-bottom: 3rem;
	padding-right: 2em;
	
	& + .article--tertiary {
		//border-right: 0;
		//padding-right: 0;
		padding-left: 2em;

		border-right: 1px dashed $color-x-light;
		border-left: 1px dashed $color-x-light;


		& + .article--tertiary {
			padding-right: 0;
			padding-left: 2em;
			border: 0;
		}
	}
}

.article--remaining {
	font-size: 75%;
}

.see-more {
	text-align: center;
	margin: 0 auto 3rem;
}

.section--more {
	font-size: 0;

	@extend %sb-grid-container;
}

.recent {
	width: 33.3333333%;
	display: inline-block;
	font-size: 1rem;
	padding: 0 2em;
	margin: 2em 0;

	&:first-child {
		border-right: 1px dashed $color-x-light;
	}

	&:last-child {
		border-left: 1px dashed $color-x-light;
	}
}

.recent__text {
	margin-bottom: 0;
}


.section--more {
	padding: 0 .25em;
	//background-color: rgb(237, 239, 243);
	border-bottom: 1px solid $color-x-light;
}

.sosumi {
	@extend %sb-grid-container;
	margin-bottom: 0;
	font-size: 1.25rem;
	padding: 1em 0;
}
