$print-springboard-classes: false;
$print-base-typography-fonts: false;

$sb-sans: 'Source Sans Pro', Tahoma, sans;
$sb-serif: 'Merriweather', 'Times New Roman', serif;

$color-x-light: rgb(216, 223, 228);

$color-link: rgb(132, 181, 202);